<h1>Editing Appartament</h1>

<%= render 'form_edit', appartament: @appartament %>

<%= link_to "Show", locality_street_house_appartament_path(*@path_to_appartament) %> |
<%= link_to 'Back', locality_street_house_appartament_path(*@path_back) %>

