<tr> 
	<td align="center"><%= house.number %></td>
	<td align="center"><%= house.liability %></td>
	<td ><%= link_to "Show", locality_street_house_path(house.street.locality, house.street, house) %></td>
</tr>